.fileupload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fileupload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fileupload-uploading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fileupload-uploading-cycle {
    width: 100px;
    height: 100px;
    position: relative;
}

.fileupload-uploading-cycle-bar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#6c63ff 0deg, #ddd 0deg);
    position: relative;
}

.fileupload-uploading-cycle-bar-inner {
    width: 80px;
    height: 80px;
    background-color: #1a1a1a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fileupload-cancel-upload-button {
    margin-top: 25px;
    background: var(--Text-Gradient, linear-gradient(90deg, #7468FC -26.21%, #A7A0F8 8.68%, #A7A0F8 80.18%, #847EC8 116.78%));
    cursor: pointer;
}

.fileupload-container h2 {
    margin-bottom: 20px;
}

.fileupload-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #F8F8FF;
    border: 2px dashed #ccc;
    width: 445px;
    height: 427px;
    border-radius: 10px;
    transition: border-color 0.3 ease;
}

.fileupload-background.dragging {
    border-color: #6c63ff;
    background-color: #f0f0ff;
}

.fileupload-image {
    margin-bottom: 25px;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.fileupload-instruction {
    margin-bottom: 10px;
    color: #0F0F0F;
}

.fileupload-browse {
    color: #483EA8;
    cursor: pointer;
    position: relative;
}

.fileupload-browse:hover {
    text-decoration: underline;
}

.fileupload-formats-text {
    font-size: 14px;
    color: #0F0F0F;
}

.fileupload-limit-text {
    margin-top: 10px;
    font-size: 14px;
    color: #0F0F0F;
}

.fileupload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0;
}

.fileupload-error {
    color: #E41D1D;
    margin-top: 15px;
}

.fileupload-queued {
    margin-top: 20px;
    width: 400px;
}

.fileupload-queued-header {
    margin-bottom: 10px;
}

.fileupload-queued-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fileupload-cancel-icon {
    cursor: pointer;
    background-color: #483EA8;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
}

.fileupload-button {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background: var(--Text-Gradient, linear-gradient(90deg, #7468FC -26.21%, #A7A0F8 8.68%, #A7A0F8 80.18%, #847EC8 116.78%));
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 420px;
}

.fileupload-button:disabled {
    cursor: not-allowed;
}

.fileupload-uploaded {
    margin-top: 20px;
    width: 400px;
}

.fileupload-uploaded-header {
    margin-bottom: 10px;
}

.fileupload-uploaded-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff;
    border: 2px solid lightgreen;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
}

.fileupload-uploaded-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fileupload-result-button {
    cursor: pointer;
    background-color: #483EA8;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
}

.fileupload-remove-icon {
    cursor: pointer;
    background-color:  #E41D1D;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
}


.progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    }

.progress-bar {
    height: 100%;
    background-color: #6c63ff;
    transition: width 0.5s ease-in-out;
}


.latest-file {
    background-color: rgba(90, 84, 220, 0.2); 
    border-left: 4px solid #6c63ff;
    padding-left: 8px;
    color: #d2caca; 
}