
.featurecontainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 15%;
}

.ZoneOne, .ZoneTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.feature-content {
  flex: 1;
  max-width: 450px;
  margin-left: 80px;
}

.AiFeatureOne, .AiFeatureTwo {
  color: #A7A0F8;
  margin-bottom: 10px;
  font-size: 15px;
}

.FeatureTitleOne, .FeatureTitleTwo {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

.FeatureDescriptionOne, .FeatureDescriptionTwo {
  color: #696f79;
  margin-bottom: 15px;
}

.ImageFeatureOne, .ImageFeatureTwo {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageFeatureOne img, .ImageFeatureTwo img {
  max-width: 100%;
  height: auto;
}
