.navbar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  color: #F5F5F5;
}

.navbar .nav-links {
  display: flex;
  width: 500px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 70px;
  border: 1px solid var(--Glass-Morphism-Glass-Stroke, rgba(134, 146, 166, 0.20));
}

button {
  all: unset;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.logo {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.logo img {
  width: 30px;
  height: auto;
}

.title {
  color: var(--Typography-White-Light-White, #F5F5F5);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.get-started {
  display: inline-flex;
  height: 24px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Text-Gradient, linear-gradient(90deg, #7468FC -26.21%, #A7A0F8 8.68%, #A7A0F8 80.18%, #847EC8 116.78%));
  margin-left: 2rem;
}