.chatbot-container {
  width: 90%;
  height: 90%; 
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

.chat-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* Parent: hold all messages  */
.chat-messages {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 85%;
    overflow-y: auto;
}

/* Child: individual message between bot and user  */
.chat-message {
    max-width: 75%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.chat-message.user {
    border-radius: 12px;
    border: 1px solid var(--Glass-Morphism-Glass-Stroke, rgba(134, 146, 166, 0.20));
    background: var(--Cards-Card-Color, rgba(40, 42, 47, 0.86));
    align-self: flex-end;
}

.chat-message.bot {
    border-radius: 16px;
    border: 2px solid var(--Glass-Morphism-Glass-Stroke, rgba(134, 146, 166, 0.20));
    background: var(--Glass-Morphism-Glass-White, rgba(255, 255, 255, 0.10));
    align-self: flex-start;
}

.chat-message.bot ul, .chat-message.bot ol {
    padding-left: 20px;
}

.chat-message.bot code {
    padding: 4px 6px; 
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    background: var(--Typography-Gray-Dark-Gray, #696F79);
}
.chat-message.bot pre {
    background: var(--Typography-Gray-Dark-Gray, #696F79);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.chat-holder {
    display: flex;
    padding: 15px;
    align-items: center;
    margin-top: auto;
}

.chat-input {
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background: #3B3D40;
    color: white;
    outline: none;
    resize: none;
    overflow-y: auto;
    max-height: 150px; /* size that the chatbot can goes up to - prevent from going to large */
}

.chat-holder button {
    background: var(--Buttons-Primary, #A7A0F8);
    border: none;
    padding: 8px 14px;
    font-size: 18px; 
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
    height: 25px;
    min-width: 60px;
    justify-content: center;
    display: flex;
}