.thecontainer {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.SignupTitle{
  font-size: 30px;
  padding-bottom: 15px;
}

.SignupDescription{
  color: var(--Typography-Gray-Medium-Gray, #8692A6);
  width: 890px;
  padding-bottom: 15px;
}

.SignupButton{
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--Buttons-Secondary, #FAFAFA);
}
